<%- include('header')%>

<% if(error){%>
    <p><%= error %></p>
<% }
else{ %>
    <p>
        Quantidade de dolares: <b>$<%= quantidade %></b><br />
        Valor da cotação: <b>R$<%= cotacao %></b><br />
        Resultado: <b>R$<%= resultado %></b>
    </p>
<% } %>

<a href="/" class="voltar">Realizar uma nova conversão</a>

<%- include('footer')%>